* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("images/japanese-pattern-fish-scale-motif-vector-art-130623391.png");
}

#wrapper {
    width: 1280px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 38px;
}

#page{
    color: #c39e47;
}

li {
    display: inline;
}

a {
    color: #000000;
}

nav {
    text-align: center;
}

nav li {
    display: inline-block;
    border-bottom: 2px solid black;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #757575;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
    grid-area: 1 / 2 / 2 / 3;
}

nav a:hover {
    color: black;
}

#main-wrap img{
    width: 350px;
}

ul {
    list-style-type: none;
    margin: auto;
}

h1 {
    font-weight: bold;
    font-size: 32px;
    padding: 25px;
    text-align: center;
    font-family: 'Aboreto', cursive;
    color: #c39e47;
}

h2 {
    font-size: 26px;
}

main {
    padding: 15px;
    text-align: center;
}

main a {
    text-decoration: none;
    color: rgb(50, 50, 50);
    background-color: white;
    padding: 10px;
    display: inline-block;
    border: 2px solid;
    list-style-type: none;
    border-radius: 25px;
    border-color: #4f4f4f;
}

#paratext {
    padding: 10px;
    background-color: #eaeaea;
}

#paratext2 {
    width: 40%;
    margin: 0 auto;
}

#main-wrap {
    display: grid;
    grid-template-columns: 50% 50%;
}

form {
    width: 350px;
    margin: 16px auto;
    background-color: #eaeaea;
    padding: 16px;
    color: #363432;
    border-radius: 4px;
}

.contacth2 {
    color: black;
    padding: 0px;
}

.contact {
    background-color: #eaeaea;
    width: 800px;
    margin-top: 25px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    height: 870px;
}

.contact p {
    max-width: 50ch;
    margin: auto;
}

input,
label,
select,
textarea,
fieldset {
    display: block;
    width: 100%;
    float: left;
    border-radius: 25px;
}

label,
fieldset {
    font-size: 12px;
    font-family: 'Manrope', sans-serif, Arial, Helvetica, sans-serif;
    color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 25px;
}

textarea,
input,
select {
    background-color: white;
    border-style: none;
    min-height: 24px;
}

input[type=submit] {
    color: white;
    background-color: black;
    width: 150px;
    padding: 8px 16px 8px 16px;
    margin-top: 32px;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    border-style: solid;
    border-radius: 32px;
    border-width: 2px;
    border-color: #172416;
}

input:required{
    background-color: #fff1c3;
}

input[type=submit]:hover {
    color: #343d45;
    background-color: #eaeaea;
    border-color: #131313;
}
input[type=required]{
    border-width: 3px;
    border-color: black;
}

fieldset {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

input[type=radio] {
    display: grid;
    width: 150px;
    accent-color: rgba(255, 255, 255, 0);
}

.divtwo {
    padding: 25px;
}

.contactimg {
    display: block;
    height: 400px;
}

#cuisine {
    margin: 25px;
    border-radius: 25px;
    background-color: #eaeaea;
}

#Chef {
    background-color: #eaeaea;
    border-radius: 25px;
    margin: 25px;
}

#Chef img {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    border-radius: 25px 25px 0 0;
}

#cuisine img {
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

footer {
    background-color: #e7e7e7;
    text-align: center;
    padding: 4px;
}

.divone img {
    width: 300px;
    margin-left: -20px;
    margin-top: -15px;
    border-radius: 25px 0 0 25px;
    height: 900px;
}

p {
    padding: 10px;
}

footer p {
    padding: 0;
}

h3 {
    font-size: 22px;
}

#dumpling {
    width: 1250px;
    border-top-left-radius: 35px; 
    border-top-right-radius: 35px;
}
